*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.header-container {
    background-color: #F3F3F3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    background-color: #E7E7E7;
    display: flex;
    flex: 1;
}

/* Beginning of game-container */

.history-box, .rps-button, .round-info-box, .play-again-button {
    box-shadow: 0px 5px 4px -1px #adaca8;
    border-radius: 5px;
}

.round-cpu-score, .round-player-score {
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px #adaca8;
}

.round-cpu-score {
    width: 150px;
}


.game-content {
    display: flex;
    flex: 1;
    height: 700px;
}

.history-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.history-box, .round-info-box {
    display: flex;
    height: 375px;
    width: 225px;
    background-color: #F3F3F3;
    flex-direction: column;
    align-items: center;
}

.history-log-content {
    width: 195px;
    height: 275px;
    justify-content: center;
    gap: 17px;
    padding: 15px;
    display: flex;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px #adaca8;
    overflow: auto;
}

.history-box h2 {
    font-weight: normal;;
    font-size: large;
    margin: 20px 10px;
}

ul {
    list-style: none;
    font-size:x-small;
}

.message-bar-container ul {
    font-size: medium;
    text-align: center;
}

i {
    font-size: 70px;
}

i::before {
    width: 70px;
    height: 70px;
    padding: 33px;
    margin: 1px;
}

.gameplay-container {
    flex-direction: column;
    flex: 1.5;
    margin: 0 50px;
}

.rps-button {
    width: 140px;
    height: 140px;
    background-color: #BFBFBF;
    border: none;
    cursor: pointer;
}

.cpu {
    border: 2px solid #FF7575;
}

.player {
    border: 2px solid #8181FF;
}

.rps-button.player:hover {
    background-color: #F3F3F3;
}

.rps-button.player:active {
    box-shadow: inset 0 2px 3px #adaca8;
}

.player-icons:active {
    font-size: 68px;
}

.rps-button.player:active + .player-icons {
    font-size: 50px;
}

.cpu {
    cursor: default;
}

.play-again-button {
    background-color: #F3F3F3;
    width: 180px;
    height: 45px;
    margin-top: 10px;
    font-weight: light;
    font-size: 22px;
    border: none;
    display: none;
    cursor: pointer;
}

.play-again-button:hover {
    width: 198px;
    height: 50px;
    font-size: 24px;
    text-decoration: underline;
}

.play-again-button:active {
    padding-top: 8px;
    box-shadow: inset 0 2px 3px #adaca8;
}

.cpu-select-container, .player-select-container {
    display: flex;
    flex: 3;
    justify-content: center;
    gap: 50px;
}

.cpu-select-container {
    align-items: end;
}

.circle-container {
    display: flex;
    gap: 40px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #BFBFBF;
}

.message-bar-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center ;
}

.cpu-score-container, .player-score-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.cpu-score-container {
    align-items: end;
}

.player-score-container {
    align-items: start;
}

.round-info-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.round-info-box .round-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.round-info-box {
    padding: 40px 0;
}

.round-info-box .round-message {
    font-size: x-large;
}
.round-info-box .round-count {
    text-decoration: underline;
}
/* End of game-container */

.footer-container {
    background-color: #F3F3F3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}